@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Montserrat:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(45, 99%, 55%);
    --first-color-alt: hsl(45, 99%, 48%);
    --gradient-color: linear-gradient(180deg,   hsl(151, 61%, 21%),  hsl(151, 80%, 28%));
    --second-color: hsl(22, 100%, 8%);
    --white-color:hsl(34,100%,96%);
    --first-color-darker: hsl(151, 52%, 12%);
    --title-color: hsl(22, 100%, 8%);
    --text-color: hsl(22, 24%, 32%);
    --body-color:hsl(34,100%,92%);
    --body-color--alt:hsl(34,100%,88%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", sans-serif;
    --second-font: "Aclonica", sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
  
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-bold: 700;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    background-color: var(--body-color);
}
h1,h2,h3,h4{
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-regular);
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.container{
    max-width: 1120px;
    margin-inline:1.5rem;
}
.grid{
    display: grid;
    gap: 1.5rem;
}
.section{
    padding-block: 5rem 1rem;
}
.section_title{
    text-align: center;
}
.main{
    overflow: hidden;
}
.header{
    position: fixed;
    width: 100%;
    background-color: var(--body-color);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: box-shadow .4s;
}
.navbar{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    column-gap:.7rem;
    color: var(--title-color)!important;
    font-weight:var(--font-bold);
    
}
a{
    text-decoration: none;
    
}
.logo img{
    height: 48px;
} 
.logo div{
    background-color:black;
    padding: 3px;
    border-radius:.5rem;
}
.close_nav,.toggle_nav{
    display: flex;
    cursor: pointer;
    color: var(--title-color);
    font-weight: var(--font-bold);
}
@media screen and (max-width:1150px) {
    .nav_menu{
    position: fixed;
    width: 100%;
    background-color: var(--body-color);
    top: -100%;
    left: 0;
    padding-block: 4.5rem 3.5rem;
    box-shadow: 0 4px 16px hsla(22, 100%, 8%, .2);
    transition: top .8s;
    }
}

.nav_items{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.nav_links{
    color: var(--title-color);
    position: relative;
    font-family: var(--second-font);
}
.nav_links::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: var(--first-color); 
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: width .4s;
}
.nav_links:hover::after{
    width: 100%;
}
.close_nav{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}
.show_menu{
    top: 0 ;
}